@use '@/app/assets/styles/mixins' as *;
@use '@/app/assets/styles/colors' as *;

.catalog {
  @include container;
  min-height: 70vh;

  @media(max-width: 576px) {
    width: 85%;
  }
}

.category {
  width: 100%;
  display: flex;
  justify-content: center;

  &Title {
    @include montserrat-600;
    font-size: 20px;
    color: $category-title;
    margin: 0 10px 20px;
  }

  &Items {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}