@import '../../main';

.wrapper {
  height: 100vh;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.payment {
  opacity: 1;
  max-width: 360px;
  padding: 30px;
  background-color: $payment-bg;
  border-radius: 30px;
  width: 100%;
  position: relative;

  &__close-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }

  &__title {
    @include montserrat-600;
    font-size: 20px;
    color: $payment-text;
    margin-bottom: 20px;
  }

  &__text {
    @include montserrat-600;
    font-size: 15px;
    color: $payment-text;
    margin-bottom: 10px;
  }

  &__text-between {
    display: flex;
    justify-content: space-between;
  }

  &__input {
    @include montserrat-600;
    font-size: 14px;
    width: 100%;
    padding: 13px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 2px solid #8A8A8A;
    outline: none;
    transition: .3s;
    margin-bottom: 20px;

    &::placeholder {
      @include montserrat-600;
      font-size: 12px;
      color: #8A8A8A;
    }

    &:hover {
      border-color: #252525;
    }

    &:focus {
      border-color: #252525;
    }
  }

  &__payment-methods {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 70px));
    grid-template-rows: repeat(auto-fill, 50px);
    justify-items: center;
    grid-row-gap: 10px;
  }

  &__method-btn {
    height: min-content;
    width: min-content;
    padding: 0;
    background: transparent;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

  &__payment-img {
    border: 3px solid #CCCCCC;
  }

  &__submit-btn {
    display: block;
    width: 100%;
    padding: 20px 0;
    background: $basket-btn-bg;
    @include montserrat-600;
    font-size: 17px;
    color: #ffffff;
    white-space: nowrap;
    border-radius: 20px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: .3s;
    margin-top: 30px;
    text-align: center;
    text-decoration: none;

    &:hover {
      background-color: #313131;
    }


  }
}

.methods {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 70px));
  grid-template-rows: repeat(auto-fill, 50px);
  justify-items: center;
  grid-row-gap: 10px;
  margin-bottom: 20px;

  &__item-btn {
    height: min-content;
    width: min-content;
    padding: 0;
    background: transparent;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

  &__item-img {
    border: 3px solid #CCCCCC;
    border-radius: 15px;
    transition: .3s;

    &--selected {
      border-color: #252525;
    }

    &:hover {
      border-color: #252525;
    }
  }
}