$mainBg: #EAEAEA;

$logo: #101010;
$logoHover: #5c5c5c;

$headerLinkCount: #FFA542;
$headerLinkHover: #c4c2c2;

$product-name: #1C1C27;
$product-price: #FFA542;
$product-discount: #FFCE7F;
$product-rate: #838383;
$product-buy: #000000;

$category-title: #838383;

$footer-bg: #ffffff;

$social-link-hover: #474747;

$footer-link: #000000;

$switch-lang: #101010;
$switch-lang-active: #FFA542;

$basket-subtitle: #1C1C27;

$basket-card-bg: #ffffff;
$basket-card-name: #1C1C27;
$basket-card-desc-price: #AAAAAA;
$basket-card-result-price: #1C1C27;
$basket-card-switch-btn-bg: #FFCE7F;
$basket-card-switch-btn-bg-hover: #fcad2d;
$basket-card-switch-value: #000000;
$basket-card-delete-bg: #DF6464;

$basket-order-bg: #ffffff;
$basket-order-price: #000000;
$basket-order-text: #000000;
$basket-btn-bg: #101010;
