@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  src: url(../fonts/montserrat/Bold.ttf)  format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  src: url(../fonts/montserrat/Medium.ttf)  format('truetype');
}