@mixin montserrat-700 {
  font-family: 'Montserrat', sans-serif;
  line-height: normal;
  font-weight: 700;
  font-size: 14px;
}

@mixin montserrat-600 {
  font-family: 'Montserrat', sans-serif;
  line-height: normal;
  font-weight: 600;
  font-size: 14px;
}

@mixin montserrat-500 {
  font-family: 'Montserrat', sans-serif;
  line-height: normal;
  font-weight: 500;
  font-size: 14px;
}

@mixin montserrat-400 {
  font-family: 'Montserrat', sans-serif;
  line-height: normal;
  font-weight: 400;
  font-size: 14px;
}


@mixin container {
  width: 75%;
  margin: auto;
}