@import '../main';

.card {
  width: 100%;
  max-width: 650px;
  background-color: $basket-card-bg;
  border-radius: 30px;
  box-shadow: 0 0 20px 0 #0000001A;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 20px;

  &__trash {
    position: absolute;
    top: 20px;
    right: 20px;

    @media(max-width: 576px) {
      display: none;
    }
  }


  &__info {
    display: grid;
    padding: 20px;

    grid-template-areas:
            'image desc . . . . . .'
            'switch switch switch switch switch switch switch switch';

    @media(max-width: 576px) {
      grid-template-areas:
            'image'
            'desc'
            'switch';
    }
  }

  &__img {
    width: 100%;
    display: flex;
    justify-content: start;

    @media(max-width: 576px) {
      justify-content: center;
    }

    &-inner {
      grid-area: image;
      max-height: 150px;
      margin-bottom: 20px;
      max-width: 200px;

      @media(max-width: 576px) {
        margin-bottom: 25px;
        max-height: none;
      }
    }
  }

  &__desc {
    grid-area: desc;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media(max-width: 576px) {
      margin-left: 0;
      margin-bottom: 12px;
    }

    &-name {
      @include montserrat-500;
      font-size: 17px;
      color: $basket-card-name;
      margin-bottom: 12px;
      white-space: nowrap;
    }
  }

  &__switch-price {
    grid-area: switch;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__delete {
    width: 100%;
    padding: 15px 0;
    border-radius: 20px;
    background-color: $basket-card-delete-bg;
    outline: none;
    border: none;
    cursor: pointer;
    display: none;
    transition: .3s;

    &:hover {
      background-color: $basket-card-delete-bg-hover;
    }

    @media(max-width: 576px) {
      display: block;
    }
  }
}

.switch {
  display: flex;
  align-items: center;

  &__btn {
    background: $basket-card-switch-btn-bg;
    font-weight: 500;
    outline: none;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    line-height: normal;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    transition: 0.3s;
    padding: 0;

    &:hover {
      background-color: $basket-card-switch-btn-bg-hover;
    }
  }

  &__value {
    @include montserrat-600;
    font-size: 17px;
    color: $basket-card-switch-value;
    margin: 0 25px;
  }
}

.price {
  @include montserrat-600;
  font-size: 15px;
  color: $basket-card-desc-price;
  white-space: nowrap;
  position: relative;

  &--result {
    color: $basket-card-result-price;
  }

}
.discount {
  @include montserrat-600;
  font-size: 14px;
  color: $basket-card-desc-discount;
  position: absolute;
  bottom: -90%;
  left: 0;
  text-decoration: line-through;

  @media(max-width: 992px) {
    bottom: -75%;
  }

  &--result {
    bottom: -30%;

    @media(max-width: 992px) {
      bottom: -20%;
    }
  }
}