@import '../main';

.footer {
  @include container;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: $footer-bg;
  padding: 30px;
  max-height: 90px;

  display: flex;
  justify-content: space-between;


  @media(max-width: 992px) {
    display: grid;
    grid-template-areas:
            'logo links service-lang'
            'social-links links -';
  }

  @media(max-width: 576px) {
    max-height: 140px;
    padding: 25px;
    grid-template-areas:
            'links service-lang'
            'links service-lang'
            'logo social-links';
  }

  &__links {
    grid-area: links;

    @media(max-width: 576px) {
      margin-bottom: 15px;
    }
  }

  &__links-list {
    display: flex;
    flex-direction: column;
  }

  &__links-item {
    margin-bottom: 10px;
  }

  &__links-link {
    @include montserrat-400;
    font-size: 17px;
    text-decoration: none;
    color: $footer-link;
  }

  &__service-lang {
    grid-area: service-lang;
  }

  &__social-links {
    grid-area: social-links;
  }

  &__social-link {
    margin-right: 18px;
  }

}