@import "../main";

.header {
  @include container;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__links {
    height: 100%;
    width: min-content;
    display: flex;
  }

  &__link {
    cursor: pointer;
    margin: 0 25px;
    position: relative;

    &-count {
      @include montserrat-500;
      position: absolute;
      top: -30%;
      right: -45%;
      background-color: $headerLinkCount;
      border-radius: 50%;
      font-size: 15px;
      color: #ffffff;
      width: 23px;
      height: 23px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}