@import '../main';

.icon {

  path {
    transition: .3s;
  }

  &:hover path {
    fill: $headerLinkHover;
  }
}

.social-icon {

  path {
    transition: .3s;
  }

  &:hover path {
    fill: $social-link-hover;
  }
}