@import '../main';

.header-icon {

  path {
    transition: .3s;
  }

  &:hover path {
    fill: $headerLinkHover;
  }
}

.icon {
  cursor: pointer;
}

.trash-icon {

  path {
    transition: .3s;
  }

  &:hover path {
    fill: $basket-card-trash-hover;
  }
}

.eye-icon {
  path {
    transition: .3s;
  }

  &:hover g path {
    fill: #CACACA;
  }
}

.social-icon {

  path {
    transition: .3s;
  }

  &:hover path {
    fill: $social-link-hover;
  }
}