@import '../main';

.language {
  display: flex;
  align-items: center;

  &__btn {
    @include montserrat-500;
    color: $switch-lang;
    font-size: 15px;
    margin-left: 14px;
    width: max-content;
    background-color: inherit;
    outline: none;
    border: none;
    cursor: pointer;

    &--active {
      @include montserrat-700;
      font-size: 15px;
      color: $switch-lang-active;
    }
  }
}