@import "../main.scss";

.logo {
  @include montserrat-700;
  font-size: 25px;
  text-decoration: none;
  color: $logo;
  transition: .3s;

  @media(max-width: 576px) {
    font-size: 22px;
  }

  &:hover {
    color: $logoHover;
  }

  &--footer {
    grid-area: logo;
  }
}