@use '@/app/assets/styles/colors' as *;

.headerIcon {
  path {
    transition: .3s;
  }

  @media(max-width: 576px) {
    max-width: 22px;
  }

  &:hover path {
    fill: $header-link-hover;
  }
}

.icon {
  cursor: pointer;
}

.trashIcon {
  path {
    transition: .3s;
  }

  &:hover path {
    fill: $basket-card-trash-hover;
  }
}

.eyeIcon {
  path {
    transition: .3s;
  }

  &:hover g path {
    fill: $product-info-icon-hover;
  }
}

.socialIcon {
  path {
    transition: .3s;
  }

  @media(max-width: 576px) {
    max-width: 25px;
  }

  &:hover path {
    fill: $social-link-icon-hover;
  }
}