@use '@/app/assets/styles/mixins' as *;
@use '@/app/assets/styles/colors' as *;

.language {
  display: flex;
  align-items: center;

  &Btn {
    @include montserrat-500;
    color: $switch-lang;
    font-size: 15px;
    margin-left: 14px;
    width: max-content;
    background-color: inherit;
    outline: none;
    border: none;
    cursor: pointer;

    &Active {
      @include montserrat-700;
      font-size: 15px;
      color: $switch-lang-active;
    }
  }
}