@import '../main';

.basket {
  @include container;
  min-height: 70vh;

  @media(max-width: 576px) {
    width: 85%;
  }

  &__subtitle {
    @include montserrat-600;
    font-size: 20px;
    color: $basket-subtitle;
    margin: 0 10px 20px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;

    @media(max-width: 1200px) {
      flex-direction: column;
    }

    &-cards {
      width: 100%;
      margin-bottom: 50px;
    }
  }
}

.order {
  max-width: 350px;
  width: 100%;
  background-color: $basket-order-bg;
  height: min-content;
  border-radius: 30px;
  box-shadow: 0 0 20px 0 #0000001A;
  margin-left: 80px;
  box-sizing: border-box;
  margin-bottom: 50px;

  @media(max-width: 1200px) {
    margin-left: 0;
    max-width: 100%;
  }


  &__info {
    width: 100%;
    padding: 20px 20px 15px 20px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;

    &-price {
      @include montserrat-600;
      font-size: 15px;
      color: $basket-order-price;
      white-space: nowrap;
    }

    &-text {
      @include montserrat-600;
      font-size: 15px;
      color: $basket-order-text;
      white-space: nowrap;
      text-transform: uppercase;
    }
  }

  &__btn {
    width: 100%;
    padding: 20px 0;
    background: $basket-btn-bg;
    @include montserrat-600;
    font-size: 17px;
    color: #ffffff;
    white-space: nowrap;
    border-radius: 20px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: .3s;

    &:hover {
      background-color: $basket-btn-bg-hover;
    }


  }
}