@import '../main';

.catalog {
  @include container-70;

  @media(max-width: 576px) {
    width: 85%;
  }
}

.category {
  width: 100%;
  display: flex;
  justify-content: center;

  &__title {
    @include montserrat-600;
    font-size: 20px;
    color: $category-title;
    margin-bottom: 20px;
  }

  &__items {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}