@use '@/app/assets/styles/mixins' as *;
@use '@/app/assets/styles/colors' as *;

.wrapper {
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.payment {
  opacity: 1;
  max-width: 420px;
  padding: 30px;
  background-color: $payment-bg;
  border-radius: 30px;
  width: 100%;
  position: relative;
  box-sizing: border-box;

  @media(max-width: 576px) {
    width: 95%;
  }

  &CloseBtn {
    position: absolute;
    top: 30px;
    right: 30px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }

  &Title {
    @include montserrat-600;
    font-size: 20px;
    color: $payment-text;
    margin-bottom: 20px;
  }

  &Text {
    @include montserrat-600;
    font-size: 15px;
    color: $payment-text;
    margin-bottom: 10px;
  }

  &TextBetween {
    display: flex;
    justify-content: space-between;
  }

  &Input {
    @include montserrat-600;
    font-size: 14px;
    width: 100%;
    padding: 13px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 2px solid $payment-input-border;
    outline: none;
    transition: .3s;
    margin-bottom: 20px;

    &::placeholder {
      @include montserrat-600;
      font-size: 12px;
      color: $payment-input-border;
    }

    &:hover {
      border-color: $payment-input-border-focus;
    }

    &:focus {
      border-color: $payment-input-border-focus;
    }

    &Error {
      margin-bottom: 5px;
      border: 2px solid $payment-input-border-error;
      color: $payment-input-border-error;

      &::placeholder {
        color: $payment-input-border-error;
      }

      &:hover {
        border-color: $payment-input-border-error;
      }

      &:focus {
        border-color: $payment-input-border-error;
      }
    }
  }

  &Error {
    @include montserrat-500;
    font-size: 14px;
    margin-bottom: 20px;
    color: $payment-error;
  }

  &Methods {
    width: 100%;
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 70px));
    grid-template-rows: repeat(auto-fill, 50px);
    justify-items: center;
    grid-row-gap: 10px;
  }

  &MethodBtn {
    height: min-content;
    width: min-content;
    padding: 0;
    background: transparent;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

  &PaymentImg {
    border: 3px solid $payment-method-img-border;
  }

  &BtnWrapper {
    margin-top: 30px;
  }
}

.methods {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 70px));
  grid-template-rows: repeat(auto-fill, 50px);
  justify-items: center;
  grid-row-gap: 15px;
  margin-bottom: 20px;

  &ItemBtn {
    height: min-content;
    width: min-content;
    padding: 0;
    background: transparent;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

  &ItemImg {
    border: 3px solid $payment-method-img-border;
    border-radius: 15px;
    transition: .3s;

    &Selected {
      border-color: $payment-method-img-border-focus;
    }

    &:hover {
      border-color: $payment-method-img-border-focus;
    }
  }
}