@import '../../main';

.header-icon {
  path {
    transition: .3s;
  }

  @media(max-width: 576px) {
    max-width: 22px;
  }

  &:hover path {
    fill: $header-link-hover;
  }
}

.icon {
  cursor: pointer;
}

.trash-icon {

  path {
    transition: .3s;
  }

  &:hover path {
    fill: $basket-card-trash-hover;
  }
}

.eye-icon {
  path {
    transition: .3s;
  }

  &:hover g path {
    fill: $product-info-icon-hover;
  }
}

.social-icon {
  path {
    transition: .3s;
  }

  @media(max-width: 576px) {
    max-width: 25px;
  }

  &:hover path {
    fill: $social-link-icon-hover;
  }
}