@use '@/app/assets/styles/mixins' as *;
@use '@/app/assets/styles/colors' as *;

.footer {
  @include container;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: $footer-bg;
  padding: 30px;
  max-height: 90px;

  display: flex;
  justify-content: space-between;


  @media(max-width: 992px) {
    display: grid;
    grid-template-areas:
            'logo links service-lang'
            'social-links links -';
  }

  @media(max-width: 576px) {
    max-height: 140px;
    padding: 25px;
    grid-template-areas:
            'links service-lang'
            'links service-lang'
            'logo social-links';
  }

  &Links {
    grid-area: links;

    @media(max-width: 576px) {
      margin-bottom: 15px;
    }
  }

  &LinksList {
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style: none;
  }

  &LinksItem {
    margin-bottom: 10px;
  }

  &LinksLink {
    @include montserrat-400;
    font-size: 17px;
    text-decoration: none;
    color: $footer-link;
    transition: .3s;

    @media(max-width: 768px) {
      font-size: 15px;
    }

    @media(max-width: 576px) {
      font-size: 14px;
    }

    &:hover {
      color: $footer-link-hover;
    }
  }

  &ServiceLang {
    grid-area: service-lang;
  }

  &SocialLinks {
    grid-area: social-links;
  }

  &SocialLink {
    margin-right: 18px;
  }

}